snippet <?php
<?php
/**
 * ${1:File comment}.
 *
 * @author ${2:`git config user.name 2>/dev/null || echo User Name`} <${3:`git config user.email 2>/dev/null || echo user@email.tld`}>
 */

$0
endsnippet
snippet var_d
var_dump($1)
endsnippet
